pp
pp2
tt
uu
mountain_disk.vdi
valley_disk.vdi

.bundle
Gemfile.lock
*.orig
*.patch
pkg/
*.rej
.rspec_system/
spec/fixtures/manifests/
spec/fixtures/modules/
*.swp
.vagrant
.tmp
tmp
.librarian
Puppetfile.lock

#####################
# Backup files
#
*~
\#*\#
.\#*
OBSOLETE/

graphs/