tt0
tt.out


pp
pp2
tt
uu
*.vdi


.bundle
Gemfile.lock
*.orig
*.patch
pkg/
*.rej
.rspec_system/
spec/fixtures/manifests/
spec/fixtures/modules/
*.swp
.vagrant
.tmp
tmp
.librarian
Puppetfile.lock

#####################
# Backup files
#
*~
\#*\#
.\#*
OBSOLETE/

graphs/